@model IEnumerable<ProjectManagementAPl.ViewModels.BlogModel>

@{
    ViewData["Title"] = "BlogManager";
}

<div class="container">
    <h1>BlogManager</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.blogId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.title_blog)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.content_blog)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

