@model ProjectManagementAPl.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user_id" class="control-label"></label>
                <input asp-for="user_id" class="form-control" readonly/>
                <span asp-validation-for="user_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email_address" class="control-label"></label>
                <input asp-for="email_address" class="form-control" />
                <span asp-validation-for="email_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="source" class="control-label"></label>
                <input asp-for="source" class="form-control" />
                <span asp-validation-for="source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="first_name" class="control-label"></label>
                <input asp-for="first_name" class="form-control" />
                <span asp-validation-for="first_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="middle_name" class="control-label"></label>
                <input asp-for="middle_name" class="form-control" />
                <span asp-validation-for="middle_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="last_name" class="control-label"></label>
                <input asp-for="last_name" class="form-control" />
                <span asp-validation-for="last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="role_id" class="control-label"></label>
                <input asp-for="role_id" class="form-control" />
                <span asp-validation-for="role_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pub_id" class="control-label"></label>
                <input asp-for="pub_id" class="form-control" />
                <span asp-validation-for="pub_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hire_date" class="control-label"></label>
                <input asp-for="hire_date" class="form-control" />
                <span asp-validation-for="hire_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.user_id">Back to View</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
